html {
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

body {
    font-family: 'Volkhov', serif;
    margin: 0;
    font-size: 2em;
    line-height: 1.5;
  }

.grilla div h1 {color:rgb(42, 42, 255);
text-align: center !important;
margin-bottom: 0px;}

.grilla div h1 div {
  margin-top: 0px;
padding-top: 0px;
;}



.grilla div p {
        text-align: center !important;
        font-size:25px;
        color: rgb(67, 67, 67);
      margin-bottom: 2em;}

 .boton {
        text-align: center !important;}

.grilla{
  display: grid;
grid-template-columns: 1/1fr;
position: relative;
top:2em;
bottom: 15em;
}
.btn{
font-size: 10px;
font-family: 'Space Grotesk', sans-serif;
border-radius: 3px;
display: inline-block;
padding: 10px 5em;
text-decoration: none;
color: rgba(255, 255, 255, 0.734);
background-color:rgb(64, 64, 255);
}

.btn:hover{background-color:rgb(93, 93, 255);

}

.grilla .inputs input{
 margin-bottom: 8px;
  padding:.5rem 5rem ;
  border: 0;
  outline: solid 1px;
  border-radius: 5px;
  display: block;
}




.grilla .inputs{
  display: flex;
  justify-content: center;
  position: relative;
}

  .grilla .btns{
    margin-top: 1em;
    display: flex;
    justify-content: center;}

    .grilla div .label_down{
      margin-top: 10PX;
      color:rgba(150, 150, 150, 0.734); 
      font-family: 'Space Grotesk', sans-serif;
      font-size: 9px;
      display: flex;
      justify-content: center;
      
    }

  

    .input_select{ 
      
      margin-bottom: 8px;
      padding:.5rem 5rem ;
      border: 0;
      outline: solid 1px;
      border-radius: 5px;
      display: block;
      position: relative
      
    }

    .grilla div .title_input{
      
      font-family: 'Space Grotesk', sans-serif;
      font-size: 20px;
      position: absolute;
      padding-bottom: 80px;
      
      background-color: rebeccapurple;
      
      
      
    }

    .grilla .box{
      position: relative;
      display: flex;
      justify-content: center;
      
      }

  /* .inputs input:focus + div .title_input{
    transform: translateY(-1.5rem);
    transition: .5s;
  } */

 


    

  